### range

In [1]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [2]:
range(5)

range(0, 5)

In [3]:
range_5 = range(5)

In [4]:
type(range_5)

range

In [5]:
list(range_5)

[0, 1, 2, 3, 4]

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1, 5))

[1, 2, 3, 4]

In [8]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [9]:
list(range(10, 101, 10))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### if-else conditions

In [10]:
if "":
    print("true")
else:
    print("false")

false

In [11]:
len([])

0

In [12]:
if []:
    print("true")
else:
    print("false")

false

In [13]:
if {}:
    print("true")
else:
    print("false")

false

### enumerate

In [14]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [15]:
members = [
    "A Rahul Ambani",
    "Ambani Mukesh",
    "Gautam Adani",
    "Adani Anil",
    "Anil ambani Fake",
    "Modi Fake Ambani",
    "Rahul Adani",
    "Saumya adani B"
]

In [16]:
members[1]

'Ambani Mukesh'

In [17]:
for index, name in enumerate(members):
    print(index, name)

0 A Rahul Ambani
1 Ambani Mukesh
2 Gautam Adani
3 Adani Anil
4 Anil ambani Fake
5 Modi Fake Ambani
6 Rahul Adani
7 Saumya adani B

In [18]:
for index, name in enumerate(members, 1):
    print(index, name)

1 A Rahul Ambani
2 Ambani Mukesh
3 Gautam Adani
4 Adani Anil
5 Anil ambani Fake
6 Modi Fake Ambani
7 Rahul Adani
8 Saumya adani B

In [19]:
for name in members:
    if "ambani" in name.lower():
        print(name)

A Rahul Ambani
Ambani Mukesh
Anil ambani Fake
Modi Fake Ambani

In [20]:
count = 1

for name in members:
    if "ambani" in name.lower():
        print(count, name)

    count += 1

1 A Rahul Ambani
2 Ambani Mukesh
5 Anil ambani Fake
6 Modi Fake Ambani

In [21]:
for index, name in enumerate(members, 1):
    if "ambani" in name.lower():
        print(index, name)

1 A Rahul Ambani
2 Ambani Mukesh
5 Anil ambani Fake
6 Modi Fake Ambani

In [22]:
fruits = ["apple", "banana", "orange", "kiwi", "pineapple"]
rates = [150, 20, 50, 100, 4]

In [23]:
threshold_rate = 50

for rich_value, rate in enumerate(rates):
    if rate <= threshold_rate:
        fruit = fruits[rich_value]
        print(fruit, rate)

banana 20
orange 50
pineapple 4

### zip

In [24]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [25]:
len(fruits), len(rates)

(5, 5)

In [26]:
len(fruits) == len(rates)

True

In [27]:
for i in zip(fruits, rates):
    print(i)

('apple', 150)
('banana', 20)
('orange', 50)
('kiwi', 100)
('pineapple', 4)

In [28]:
for fruit, age in zip(fruits, rates):
    print(fruit, age)

apple 150
banana 20
orange 50
kiwi 100
pineapple 4

### storing data

In [29]:
members

['A Rahul Ambani',
 'Ambani Mukesh',
 'Gautam Adani',
 'Adani Anil',
 'Anil ambani Fake',
 'Modi Fake Ambani',
 'Rahul Adani',
 'Saumya adani B']

In [30]:
ambani_family = []

for name in members:
    if "ambani" in name.lower():
        ambani_family.append(name)

In [31]:
ambani_family

['A Rahul Ambani', 'Ambani Mukesh', 'Anil ambani Fake', 'Modi Fake Ambani']

In [32]:
users = {
    "sarita": 24,
    "naman": 34,
    "rahul": 12,
    "ramesh": 23,
    "shivaay": 3,
    "vinita": 17
}

In [33]:
eligible_candidates = []
ineligible_candidates = []

for user, age in users.items():
    if age >= 18:
        eligible_candidates.append(user)
    else:
        ineligible_candidates.append(user)

In [34]:
eligible_candidates

['sarita', 'naman', 'ramesh']

In [35]:
ineligible_candidates

['rahul', 'shivaay', 'vinita']

In [36]:
numbers = list(range(10))

In [37]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
squared_numbers = {}

for number in numbers:
    squared_numbers[number] = number ** 2

In [39]:
squared_numbers

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [40]:
cubes = []

for number in numbers:
    cube = number ** 3
    cubes.append(cube)

In [41]:
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### comprehensions

In [42]:
members

['A Rahul Ambani',
 'Ambani Mukesh',
 'Gautam Adani',
 'Adani Anil',
 'Anil ambani Fake',
 'Modi Fake Ambani',
 'Rahul Adani',
 'Saumya adani B']

In [43]:
ambani_family = [
    name
    for name in members
    if "ambani" in name.lower()
]

In [44]:
ambani_family

['A Rahul Ambani', 'Ambani Mukesh', 'Anil ambani Fake', 'Modi Fake Ambani']

In [45]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
squared_numbers = {
    number: number ** 2
    for number in numbers
}

In [47]:
squared_numbers

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [48]:
cubes = {
    number : number ** 3
    for number in range(1, 6)
}

In [49]:
cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [50]:
cubes = [
    number ** 3
    for number in numbers
]

In [51]:
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [52]:
cubes = [number ** 3 for number in numbers]

In [53]:
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [54]:
cubes = {
    number : number ** 3
    for number in range(1, 6)
}

In [55]:
cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [56]:
cubes_of_even_numbers = [
    number ** 3
    for number in numbers
    if number % 2 == 0
]

In [57]:
cubes_of_even_numbers

[0, 8, 64, 216, 512]